<div class="container my-5">
  <div class="row  my-5">
    <h4 class="col-auto offset-2 font-weight-bold">
      ボトム詳細
    </h4>
  </div>
  <div class="row my-5 justify-content-center">
    <div class="col-4 offset-2">
      <%= image_tag @bottom.bottomImage, size: "300x300" %>
    </div>
    <div class="col-4 mt-4">
      <ul class="list-unstyled">
        <li class="my-3 font-weight-bold">品名：<%= @bottom.name %></li>
        <li class="my-3">ブランド：<%= @bottom.brand %></li>
        <li class="my-3">サイズ：<%= @bottom.size %></li>
        <li class="my-3">レビュー：<%= @bottom.review %></li>
        <li class="my-3">
          シーズン：
          <% @bottom.tags.each do |tag| %>
              <%= tag.name %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row my-3 justify-content-center">
    <% if @bottom.user.id == current_user.id %>
    <div class="field">
      <%= link_to "編集する", edit_bottom_path(@bottom.id), class:"btn btn-success" %>
    </div>
    <div class="field offset-1">
      <%=link_to "削除する", bottom_path(@bottom.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn btn-danger" %>
    </div>
    <% end %>
  </div>

  <div class="row  my-2">
    <h5 class="col-auto offset-2 font-weight-bold">
      コメント一覧
    </h5>
  </div>

  <div class="row my-3 justify-content-center">
    <div class="col-auto">
      <% if user_signed_in? %>
        <%= form_with model: [@bottom, @bottomcomment] do |f| %>
          <%= f.text_area :body, placeholder: "コメントする" %>
          <%= f.submit "送信" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row my-1 justify-content-center">
    <div class="col-auto">
      <% @bottomcomments.each do |c| %>
        <%= @user.name %>さん　:　<%= c.body %></br>
      <% end %>
    </div>
  </div>

</div>