<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-12 mb-4 text-center">
      <h3 class="font-weight-bold">出かけ先</h3>
    </div>
  </div>
  <%= form_with model: @city do |f| %>
    <div class="row text-center">
      <div class="col-2 offset-1 mt-2">
        <label for="sample">目的地は？</label>
      </div>
      <div class="col-2 mt-2">
        <%= f.select :cityname, City.destinations.keys, { class: 'form-select form-select-lg mb-3' , required: true } %>
      </div>
      <p class="mt-2">,</p>
      <div class="col-2 mt-2">
        <label for="sample">到着は？</label>
      </div>
      <div class="col-2 mt-2">
        <%= f.select :idx, {"今すぐ": 0, "３時間後": 1, "6時間後": 2},{ include_blank: '選択してください'}, { class: 'form-select form-select-lg mb-3' , required: true } %>
      </div>
      <div class="col-2 mt-1">
        <button type="button" id="btn">決定</button>
      </div>
    </div>
  <% end %>


  <div class="row justify-content-center">
    <div class="col-1 offset-1 mr-3 mt-1">
      <div id="icon"><img id="img",width="80" height="80"></div>
      <div id="icon"><img id="img"></div>
    </div>
    <div class="col-5 mb-3 mt-3">
      <span>最高気温 :</span>
      <span id="temp_max"></span>
      <span> ℃</span>
      <span class="ml-5">最低気温 :</span>
      <span id="temp_min"></span>
      <span> ℃</span></br>
      <span>湿度 :</span>
      <span id="humidity"></span>
      <span> %</span>
      <span class="ml-5">風速 :</span>
      <span id="speed"></span>
      <span> m/s</span></br>
      <script src="jquery.min.js"></script>
      <script src="script.js"></script>
    </div>
  </div>

  <div class="row my-5 justify-content-center">
    <p class="col-auto">
      ※以下の機能は、ユーザーごとの登録した洋服で判定されます。
    </p>
    <h3 class="col-md-12 mt-4 mb-4 font-weight-bold text-center">
      オススメFashion(Sample)
    </h3>
  </div>

  <div class="row">
    <h5 class="col-md-2 offset-md-3">
      アウター
    </h5>
    <div class="col-md-2">
      <%= image_tag 'outer.jpg', size: "200x200", class:"outer" %>
    </div>
    <div class="col-md-4 offset-1 mt-5">
      <p>品名：ジャケット</p>
      <p>適温：〜10℃</p>
      <p>色　：黒</p>
    </div>
  </div>

  <div class="row my-5">
    <h5 class="col-md-2 offset-md-3">
      インナー
    </h5>
    <div class="col-md-2">
      <%= image_tag 'inner.jpg', size: "200x200", class:"inner" %>
    </div>
    <div class="col-md-4 offset-1 mt-5">
      <p>品名：シャツ</p>
      <p>適温：〜22℃</p>
      <p>色　：白</p>
    </div>
  </div>

  <div class="row my-5">
    <h5 class="col-md-2 offset-md-3">
      パンツ
    </h5>
    <div class="col-md-2">
      <%= image_tag 'pants.jpg', size: "200x200" %>
    </div>
    <div class="col-md-4 offset-1 mt-5">
      <p>品名：ジーパン</p>
      <p>適温：〜22℃</p>
      <p>色　：紺</p>
    </div>
  </div>

  <div class="row my-5">
    <h5 class="col-md-2 offset-md-3">
      シューズ
    </h5>
    <div class="col-md-2">
      <%= image_tag 'shoes.jpg', size: "200x200" %>
    </div>
    <div class="col-md-4 offset-1 mt-5">
      <p>品名：Adidas</p>
      <p>色　：黒</p>
    </div>
  </div>
</div>