<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-12 mb-4 text-center">
      <h3 class="font-weight-bold">出かけ先</h3>
    </div>
  </div>
  <%= form_with model: @city do |f| %>
    <div class="row text-center">
      <div class="col-2 offset-1 mt-2">
        <label for="sample">目的地は？</label>
      </div>
      <div class="col-2 mt-2">
        <%= f.select :cityname, City.destinations.keys, { class: 'form-select form-select-lg mb-3' , required: true } %>
      </div>
      <p class="mt-2">,</p>
      <div class="col-2 mt-2">
        <label for="sample">到着は？</label>
      </div>
      <div class="col-2 mt-2">
        <%= f.select :idx, {"今すぐ": 0, "３時間後": 1, "6時間後": 2},{ include_blank: '選択してください'}, { class: 'form-select form-select-lg mb-3' , required: true } %>
      </div>
      <div class="col-2 mt-1">
        <button type="button" id="btn">決定</button>
      </div>
    </div>
  <% end %>


  <div class="row justify-content-center">
    <div class="col-1 offset-1 mr-3 mt-1">
      <div id="wicon"><img id="img",width="80" height="80"></div>
      <div id="wicon"><img id="img"></div>
    </div>
    <div class="col-5 mb-3 mt-3">
      <span>最高気温 :</span>
      <span id="temp_max"></span>
      <span> ℃</span>
      <span class="ml-5">最低気温 :</span>
      <span id="temp_min"></span>
      <span> ℃</span></br>
      <span>湿度 :</span>
      <span id="humidity"></span>
      <span> %</span>
      <span class="ml-5">風速 :</span>
      <span id="speed"></span>
      <span> m/s</span></br>
    </div>
  </div>


  <div class="toppage">
  <h1 class="top">カレンダー</h1>
  <br>

    <div class="row">
      <div class="col-md-4">
      	<div class="schedule">今後の予定服装一覧</div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>タイトル</th>
                <th>日程</th>
              </tr>
            </thead>

            <tbody>
              <% @onedays.each do |oneday| %>
                <tr>
                  <td><%= link_to oneday.title, oneday %></td>
                  <td><%= oneday&.start_time&.strftime("%m-%d") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <%= form_with(model: @oneday, local: true) do |f| %>
          <div class="title">
            <div class="form-tag">タイトル</div>
            <%= f.text_field :title %>
          </div>
          <div class="content">
            <div class="form-tag">内容</div>
            <%= f.text_area :review %>
          </div>
            <div class="time">
            <div class="form-tag">時間</div>
            <%= f.datetime_select :start_time %>
          </div>
          <div class="submit">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <br>
      <div class="col-md-8">
        <%= month_calendar events: @onedays do |date, onedays| %>
          <%= date.day %>

          <% onedays.each do |oneday| %>
            <div>
              <%= link_to oneday.title, oneday %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>