<div class="container my-5">
  <div class="row">
    <h4 class="col-5 font-weight-bold">
      インナー一覧 (全<%= @inners.count %>件)
    </h4>
    <div class="col-3 offset-3 text-right">
      <%=link_to "アウター登録", new_outer_path, class: "btn btn-sm btn-success" %>
    </div>
  </div>
  <div class="row my-3">
    <% @inners.each do |inner| %>
      <div class="col-3 d-flex flex-column bd-highlight mb-3">
        <%= link_to inner_path(inner.id) do %>
          <div class="p-2 bd-highlight">
            <%= image_tag inner.innerImage, size: "200x200" %>
          </div>
        <% end %>
        <div class="p-2 bd-highlight">
          <%= inner.name %>
        </div>
        <div class="p-2 bd-highlight">
          <%= inner.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
