<div class="container my-5">
  <div class="row">
    <h4 class="col-5 font-weight-bold">
      シューズ一覧 (全<%= @shoes.count %>件)
    </h4>
    <div class="col-4 mt-1">
      <%= form_tag shoes_path, method: :get, class: 'boards__searchForm' do %>

            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み検索',
                             onchange: 'submit(this.form);'
                           }
            %>
      <% end %>
    </div>
    <div class="col-2 text-right">
      <%=link_to "シューズ登録", new_shoe_path, class: "btn btn-sm btn-success" %>
    </div>
  </div>
  <div class="row my-3">
    <% @shoes.each do |shoe| %>
      <div class="col-3 d-flex flex-column bd-highlight mb-3">
        <%= link_to shoe_path(shoe.id) do %>
          <div class="p-2 bd-highlight">
            <%= image_tag shoe.shoeImage, size: "200x200" %>
          </div>
        <% end %>
        <div class="p-2 bd-highlight">
          <%= shoe.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
