<div class="container my-5">
  <div class="row">
    <div class="col-auto bg-light">
      <h4 class="font-weight-bold">
        会員情報編集
      </h4>
    </div>
  </div>
  <%= form_with model: @user, url: my_page_path(current_user.id), method: :patch do |f| %>
    <div class="row my-3 justify-content-center">
      <table class="col-6 table  table-borderless">
        <tbody>
          <tr>
            <th>名前</th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= f.email_field :email %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row my-3 justify-content-center">
      <div class="col-auto text-center">
        <%= f.submit '編集内容を保存', class:"btn btn-success" %>
      </div>
      <div class="col-auto text-center">
      <%=link_to "退会する", unsubscribe_path(current_user), class:"btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>