<div class="container my-5">
   <div class="row mb-5 justify-content-center">
    <div class="col-2">
      <%= link_to "アウター登録", new_outer_path, class:"btn btn-success" %>
    </div>
    <div class="col-2">
      <%= link_to "インナー登録", new_inner_path, class:"btn btn-success" %>
    </div>
    <div class="col-2">
      <%= link_to "ボトム登録", new_bottom_path, class:"btn btn-success" %>
    </div>
    <div class="col-2">
      <%= link_to "シューズ登録", new_shoe_path, class:"btn btn-success" %>
    </div>
  </div>
   <div class="row justify-content-center">
    <div class="col-md-12 mb-4 text-center">
      <h3 class="font-weight-bold">出かけ先</h3>
    </div>
  </div>
  <%= form_with model: @city do |f| %>
    <div class="row text-center">
      <div class="col-2 offset-1 mt-2">
        <label for="sample">目的地は？</label>
      </div>
      <div class="col-2 mt-2">
        <%= f.select :cityname, City.destinations.keys, { class: 'form-select form-select-lg mb-3' , required: true } %>
      </div>
      <p class="mt-2">,</p>
      <div class="col-2 mt-2">
        <label for="sample">到着は？</label>
      </div>
      <div class="col-2 mt-2">
        <%= f.select :idx, {"今すぐ": 0, "３時間後": 1, "6時間後": 2},{ include_blank: '選択してください'}, { class: 'form-select form-select-lg mb-3' , required: true } %>
      </div>
      <div class="col-2 mt-1">
        <button type="button" id="btn">決定</button>
      </div>
    </div>
  <% end %>


  <div class="row justify-content-center">
    <div class="col-1 offset-1 mr-3 mt-1">
      <div id="wicon"><img id="img",width="80" height="80"></div>
      <div id="wicon"><img id="img"></div>
    </div>
    <div class="col-5 mb-3 mt-3">
      <span>最高気温 :</span>
      <span id="temp_max"></span>
      <span> ℃</span>
      <span class="ml-5">最低気温 :</span>
      <span id="temp_min"></span>
      <span> ℃</span></br>
      <span>湿度 :</span>
      <span id="humidity"></span>
      <span> %</span>
      <span class="ml-5">風速 :</span>
      <span id="speed"></span>
      <span> m/s</span></br>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <h3 class="col-md-12 mt-4 mb-4 font-weight-bold text-center">
      所持服一覧
    </h3>
  </div>
    <div class="tab-panel">
    	<!--タブ-->
      	<ul class="tab-group">
      		<li class="tab tab-A is-active">アウター</li>
      		<li class="tab tab-B">インナー</li>
      		<li class="tab tab-C">ボトム</li>
      		<li class="tab tab-C">シューズ</li>
      	</ul>

    	<!--タブを切り替えて表示するコンテンツ-->
    		  <div class="panel tab-A is-show">
  <div class="row my-3">
    <h4 class="col-5 font-weight-bold">
                アウター
              </h4>
              <div class="col-4 mt-1">
                <%= form_tag outers_path, method: :get, class: 'boards__searchForm' do %>

                      <%= select_tag :tag_id,
                                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                                     {
                                       prompt: 'タグで絞り込み検索',
                                       onchange: 'submit(this.form);'
                                     }
                      %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <% @outers.each do |outer| %>
                <div class="col-3 d-flex flex-column bd-highlight mb-3">
                  <%= link_to outer_path(outer.id) do %>
                    <div class="pt-2 text-center">
                      <%= image_tag outer.outerImage, size: "200x200" %>
                    </div>
                  <% end %>
                  <div class="pt-2 text-center">
                    <%= outer.name %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>



    		<div class="panel tab-B">

  <div class="row my-3">
    <h4 class="col-5 font-weight-bold">
      インナー
    </h4>
    <div class="col-4 mt-1">
      <%= form_tag inners_path, method: :get, class: 'boards__searchForm' do %>

            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み検索',
                             onchange: 'submit(this.form);'
                           }
            %>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <% @inners.each do |inner| %>
      <div class="col-3 d-flex flex-column bd-highlight mb-3">
        <%= link_to inner_path(inner.id) do %>
          <div class="pt-2 text-center">
            <%= image_tag inner.innerImage, size: "200x200" %>
          </div>
        <% end %>
        <div class="pt-2 text-center">
          <%= inner.name %>
        </div>
      </div>
    <% end %>
  </div>



    		</div>
    		<div class="panel tab-C">
  <div class="row my-3">
    <h4 class="col-5 font-weight-bold">
      ボトム
    </h4>
    <div class="col-4 mt-1">
      <%= form_tag bottoms_path, method: :get, class: 'boards__searchForm' do %>

            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み検索',
                             onchange: 'submit(this.form);'
                           }
            %>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <% @bottoms.each do |bottom| %>
      <div class="col-auto d-flex flex-column bd-highlight mb-3">
        <%= link_to bottom_path(bottom.id) do %>
          <div class="pt-2 text-center">
            <%= image_tag bottom.bottomImage, size: "200x200" %>
          </div>
        <% end %>
        <div class="pt-2 text-center">
          <%= bottom.name %>
        </div>
      </div>
    <% end %>
  </div>
    		</div>
    		<div class="panel tab-D">
  <div class="row my-3">
    <h4 class="col-5 font-weight-bold">
      シューズ
    </h4>
    <div class="col-4 mt-1">
      <%= form_tag shoes_path, method: :get, class: 'boards__searchForm' do %>

            <%= select_tag :tag_id,
                           options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                           {
                             prompt: 'タグで絞り込み検索',
                             onchange: 'submit(this.form);'
                           }
            %>
      <% end %>
    </div>
  </div>
  <div class="row my-3">
    <% @shoes.each do |shoe| %>
      <div class="col-3 d-flex flex-column bd-highlight mb-3">
        <%= link_to shoe_path(shoe.id) do %>
          <div class="pt-2 text-center">
            <%= image_tag shoe.shoeImage, size: "200x200" %>
          </div>
        <% end %>
        <div class="pt-2 text-center">
          <%= shoe.name %>
        </div>
      </div>
    <% end %>
  </div>
    		</div>
    	</div>
    </div>

  </div>



</div>